@{
	Layout = null;
}
@model AccountVM

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />


<!-- Registration 2 - Bootstrap Brain Component -->
<div class="bg-light py-3 py-md-5">
	<div class="container">
		<div class="row justify-content-md-center">
			<div class="col-12 col-md-11 col-lg-8 col-xl-7 col-xxl-6">
				<div class="bg-white p-4 p-md-5 rounded shadow-sm">
					<div class="row">
						<div class="col-12">
							<div class="mb-5">
								<h2 class="h3">Registration</h2>
								<h3 class="fs-6 fw-normal text-secondary m-0">Enter your details to register</h3>
							</div>
						</div>
					</div>
					<form action="SignUp" method="post">
						<div asp-validation-summary="ModelOnly" class="text-danger"></div>
						<div class="row gy-3 gy-md-4 overflow-hidden">

							<div class="form-group">
								<label asp-for="Email" class="control-label"></label>
								<input asp-for="Email" class="form-control" />
								<span asp-validation-for="Email" class="text-danger"></span>
							</div>
							<div class="form-group">
								<label asp-for="UserName" class="control-label"></label>
								<input asp-for="UserName" class="form-control" />
								<span asp-validation-for="UserName" class="text-danger"></span>
							</div>
							<div class="form-group">
								<label asp-for="PhoneNumber" class="control-label"></label>
								<input asp-for="PhoneNumber" class="form-control" />
								<span asp-validation-for="PhoneNumber" class="text-danger"></span>
							</div>
							<div class="form-group">
								<label asp-for="Password" class="control-label"></label>
								<input asp-for="Password" class="form-control" />
								<span asp-validation-for="Password" class="text-danger"></span>
							</div>
							<div class="form-group">
								<label asp-for="ConfirmPassword" class="control-label"></label>
								<input asp-for="ConfirmPassword" class="form-control" />
								<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
							</div>

							<div class="col-12">
								<div class="d-grid">
									<button class="btn btn-lg btn-primary" type="submit">Sign up</button>
								</div>
							</div>
						</div>
					</form>
					<div class="row">
						<div class="col-12">
							<hr class="mt-5 mb-4 border-secondary-subtle">
							<div class="col-12">
								<p class="m-0 text-secondary text-center">Already have an account? <a href="#!" class="link-primary text-decoration-none">Sign In</a></p>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>